<div>hunger <%= pet.hunger %></div>
<div>thirst <%= pet.thirst %></div>
<div>sickness <%= pet.sickness %></div>
<div>toilet <%= pet.toilet %></div>
<div>happyness <%= pet.happyness %></div>
<div>sleep <%= pet.sleep %></div>